<h1> {{title}} </h1>
<p>Welcome to {{title}} </p>
<input type="date" name="start" id="start" />
<input type="date" name="end" id="end" />

<select id="currency">
  <option value="USD" selected>USD</option>
  <option value="EUR">EUR</option>
  <option value="GBP">GBP</option>
  <option value="JPY">JPY</option>
  <option value="CZK">CZK</option>
</select>

<canvas
  id="myChart"
  width="200"
  height="200"
  style="height: 200px; width: 200px"
></canvas>